* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

  overflow: hidden;
  font-family: Lato;
  /* display: inline; */
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
  background-color: #000000;
}

.container {
  display: flex;
  /* width: 1280px; */
  height: 350px;
  background-color: #ffffff;
  border-bottom: 8px solid #999999
}

.content-one {
  /* display: inline; */
  margin-top: 96px;
  margin-left: 264px;
}

.huck {
  width: 180px;
  height: 38px;
  top: 96px;
  left: 264px;
  gap: 0px;
  opacity: 0px;
  font-size: 32px;
  font-weight: 800;
  line-height: 38.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p {
  width: 415px;
  height: 60px;
  top: 182px;
  left: 264px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

span {
  color: #009966;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
}

.text {
  width: 415px;
  height: 60px;
  top: 258px;
  left: 264px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}


/* end of section one layout */

/* section two layout begins*/

.container-2 {
  display: flex;
  /* width: 1280px; */
  height: 450px;
  top: 382px;
  background: #666666;
}

.holder {
  display: inline;
  margin-top: 45px;
  margin-left: 240px;
  width: 800px;
  height: 312px;
  top: 454px;
  left: 240px;
  gap: 0px;
  border: 0px 0px 8px 0px;
  opacity: 0px;
  background: #FFFFFF;
  border-bottom: 8px solid #999999
}

.card-banner {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
  margin-top: 10px;
  margin-left: -10px;
  text-align: left;
  width: 398px;
  height: 60px;
  top: 462px;
  left: 232px;
  padding: 10px;
  padding-left: 35px;
  border: 0px 0px 8px 0px;
  background: #FFBF00;
  border-bottom: 8px solid #CC9900
}


.card {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 30px;
}


@media (max-width: 776px) {

  .container {
    width: 768px;
    height: 382px;
  }

  .container-2 {
    width: 776px;
    height: 456px;
    top: 382px;
    left: -8px;
  }

  .container {
    width: 390px;
    height: 382px;
  }

  .container-2 {
    width: 398px;
    height: 767px;
    top: 382px;
    left: -8px;
  }
}